h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 4.8rem;
}

h2 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 3.4rem;
}

h3 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 2.5rem;
}

h4 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 2rem;
}

h5 {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #363030;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  color: black;
}

.body16Regular {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #363030;
}

.body16Bold {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: bold;
  font-size: 1.6rem;
  color: #363030;
}

.body14Regular {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363030;
}

.body14Bold {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: #363030;
}

.btn-primary, .btn-secondary, .btn-iconRight, .btn-primaryIcon {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: bold;
  font-size: 1.6rem;
  color: #363030;
  color: white;
  background-color: #363030;
  border-radius: 7rem;
  outline: none;
  border: none;
  padding: 1.2rem 3.2rem;
}
.btn-primary:hover, .btn-secondary:hover, .btn-iconRight:hover, .btn-primaryIcon:hover {
  background-color: #514848;
}
.btn-primary:active, .btn-secondary:active, .btn-iconRight:active, .btn-primaryIcon:active {
  background-color: black;
}

.btn-primaryIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-iconRight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: row-reverse;
  align-items: center;
  gap: 1rem;
}

.btn-secondary {
  background-color: transparent;
  color: #363030;
  outline: none;
  border: 0.15rem solid #363030;
}

.btnIcon {
  width: 22px;
  border: 0;
  border-radius: 50%;
  background-color: #B6C37F;
  padding: 0.5rem;
}

.iconNoColor {
  border-radius: 0%;
  background-color: transparent;
}

.container_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 36.6rem;
}

.green {
  background-color: #B6C37F;
  color: black;
}

.container_loginForm .container_loginForm_data .container_casillerosParaInfo {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #363030;
}
.container_loginForm .container_loginForm_data .container_casillerosParaInfo .mb-5 {
  margin-bottom: 3.4rem;
}
.container_loginForm .container_loginForm_data .container_casillerosParaInfo .mb-5 label {
  font-size: 1.6rem;
}
.container_loginForm .container_loginForm_data .container_casillerosParaInfo .mb-5 div input {
  border-radius: 0;
  font-size: 1.6rem;
}

.container_checkbox .form-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}
.container_checkbox .form-check input {
  height: 1.8rem;
  width: 1.8rem;
}
.container_checkbox .form-check label span {
  color: #DA7E1E;
  font-weight: bold;
  text-decoration: underline;
}

.container_signUpSocials {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 3.2px;
}
.container_signUpSocials p {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363030;
  color: #9C9C9C;
}
.container_signUpSocials ul {
  gap: 1.6rem;
}
.container_signUpSocials ul li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.nav-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid #E7E7E7;
}
.nav-wrapper nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  color: #171717;
  padding: 1rem 8.3rem;
}
.nav-wrapper nav .container_logo {
  width: 7.7rem;
  height: 4.17rem;
}
.nav-wrapper nav .container_logo a .logo {
  width: 100%;
  height: 100%;
}
.nav-wrapper nav .nav_containerLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
.nav-wrapper nav .nav_containerLeft .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 2.4rem;
  list-style: none;
}
.nav-wrapper nav .nav_containerLeft .navbar li a {
  text-decoration: none;
  color: #171717;
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #363030;
}
.nav-wrapper nav .nav_containerLeft .navbar li a:hover {
  font-weight: bold;
  border-bottom: 0.4rem solid #B16F2F;
}
.nav-wrapper nav .nav_containerLeft .navbar li .IconLocation {
  padding-right: 0.7rem;
}
.nav-wrapper .nav_containerRight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
.nav-wrapper .nav_containerRight ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
.nav-wrapper .nav_containerRight ul li a img {
  width: 2.31rem;
}
.nav-wrapper #menuToggle {
  display: none;
}
.nav-wrapper label {
  display: none;
}
.nav-wrapper label img {
  height: 2.6rem;
}

.heroHome {
  width: 100%;
  background-color: #F3F5F2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.heroHome .containerLeft img {
  width: 100%;
  max-width: 516px;
}
.heroHome .smallBubaCup {
  display: none;
}
.heroHome .containerRight .wrapper_heroText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 8.3rem;
}
.heroHome .containerRight .wrapper_heroText .conteiner_heroText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
.heroHome .containerRight .wrapper_heroText .conteiner_heroText h1 {
  text-align: center;
  max-width: 46rem;
}
.heroHome .containerRight .wrapper_heroText .conteiner_heroText p {
  text-align: center;
}

.ourProducts {
  background-color: #FFFAF3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 43.9rem;
}
.ourProducts div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 0rem;
}
.ourProducts div h2 {
  text-align: center;
  padding-bottom: 4.8rem;
}
.ourProducts div .container_ourProductsCard {
  width: 61.41rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}
.ourProducts div .container_ourProductsCard .ourProductsCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 0px;
}
.ourProducts div .container_ourProductsCard .ourProductsCard .container_img {
  outline: none;
  border: none;
  width: 13.3rem;
  padding: 0.5rem;
}
.ourProducts div .container_ourProductsCard .ourProductsCard .container_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nowTrending_wrapper {
  background-color: beige;
  width: 100%;
  padding-top: 7.7rem;
  padding-bottom: 8.4rem;
  padding-left: 8.3rem;
  padding-right: 8.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.nowTrending_wrapper .nowTrendingHeaders {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.nowTrending_wrapper .container_productsCard {
  width: auto;
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3.2rem;
}

.productsCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  width: auto;
  border-radius: 1rem;
  background-color: white;
  filter: drop-shadow(1.80966px 4.52416px 10.858px rgba(0, 0, 0, 0.15));
  order: 3;
  flex-grow: 1;
  max-width: 330px;
}
.productsCard .cardImg {
  width: auto;
  height: auto;
  position: relative;
  z-index: -1;
  flex-grow: 1;
}
.productsCard .cardImg img {
  width: 100%;
}
.productsCard .cardInfo {
  width: 100%;
  height: auto;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 2.4rem;
  flex-grow: 1;
}
.productsCard .cardInfo .CardInfoElements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  gap: 1.4rem;
}
.productsCard .cardInfo .CardInfoElements .cardText {
  height: 7rem;
  gap: 12px;
}
.productsCard .cardInfo .CardInfoElements .cardText h4 {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 600;
  font-size: 2rem;
  color: #363030;
  text-align: center;
  padding-bottom: 1.2rem;
  color: #171717;
}
.productsCard .cardInfo .CardInfoElements .cardText .cardDescription {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #363030;
  width: 18.2rem;
  padding-bottom: 1.59rem;
  line-height: 160.18%;
  text-align: center;
  color: #5B5A56;
}

.wrapper {
  border-radius: 34.82px;
  background-color: #EFEFEF;
  width: 12.9rem;
  height: 4.41rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}
.wrapper span {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 2rem;
  color: #363030;
}
.wrapper .minus, .wrapper .plus {
  font-size: 3rem;
}

.cardFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
.cardFooter .price {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 600;
  font-size: 2.2rem;
  color: #363030;
}

.findNearStore {
  background-image: url(../assets/img/store1.png);
  width: 100%;
  height: 56.8rem;
  background-position-y: 63%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}
.findNearStore .left {
  width: 40.2rem;
  height: 39rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  padding: 8.7rem 6.15rem;
}
.findNearStore .right {
  width: 29.6rem;
  height: 29.6rem;
}
.findNearStore .right img {
  width: 100%;
}

.bookTable {
  width: 100%;
  height: 64.9rem;
  background-color: #FFFAF3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
  padding: 8.4rem;
}
.bookTable .left {
  width: 57rem;
  height: 39.3rem;
  border-radius: 12px;
  background-color: #F9F3DB;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.bookTable .left div {
  width: 23.5rem;
  height: 27.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.bookTable .right {
  background-image: url(../assets/img/menu.png);
  width: 57rem;
  height: 39.3rem;
  border-radius: 12px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-bottom: 4.71rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
}
.bookTable .right .btn-secondary {
  background-color: white;
}

.registerNow {
  width: 100%;
  height: 36.6rem;
  background-image: url(../assets/img/registerNow.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 0px;
}
.registerNow div {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.4px;
  padding-left: 22.2rem;
}

.heroAboutUs {
  width: 100%;
  height: 21.3rem;
  color: white;
  background-image: url(../assets/img/aboutUsBackround.png);
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.heroAboutUs .container_hero {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
.heroAboutUs .container_hero div {
  width: 18.6rem;
}
.heroAboutUs .container_hero div img {
  width: 100%;
}
.heroAboutUs .container_hero p {
  font-size: 6.84rem;
  font-weight: bold;
  padding: 3rem;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  background-color: #F9F3DB;
}
.aboutUs .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 8rem 15rem 8rem 15rem;
  max-width: 1140px;
}
.aboutUs .container .container_aboutUsImg img {
  width: 100%;
  border-radius: 13.5px;
  max-width: 549px;
}
.aboutUs .container .aboutUsInfo {
  border-radius: 13.6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding-inline: 10rem;
}
.aboutUs .container .aboutUsInfo .container_aboutUsInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.flipped {
  background-color: white;
}

.container_loginLeft img {
  width: 100%;
}

.container_loginForm {
  width: 49.5rem;
}

.heroTitle {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 4.8rem;
}

.container_shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 10, 1fr;
  grid-template-rows: repeat(7, 1fr);
}
.container_shop .containerLeft_shop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 0rem;
  display: flex;
  flex-direction: column;
  width: 28.5rem;
  padding-top: 8.8rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
.container_shop .containerLeft_shop ul li {
  text-decoration: none;
  list-style: none;
}
.container_shop .containerRight_shop {
  width: 100%;
  height: 100%;
  background-color: #FFFAF3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  padding-top: 8.8rem;
  grid-column-start: 3;
  grid-column-end: 13;
}
.container_shop .containerRight_shop .container_shopCategory {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  padding: 2rem;
}
.container_shop .containerRight_shop .container_shopCategory .container_productsCards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem;
  padding: 2rem;
}
.container_shop .containerRight_shop .container_shopCategory .container_productsCards h3 {
  padding-bottom: 4rem;
}
.container_shop .containerRight_shop .container_shopCategory .container_productsCards .topRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: auto;
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
}
.container_shop a {
  text-decoration: none;
  color: #171717;
}
.container_shop .bigCategory {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #363030;
  padding: 2.5rem;
}
.container_shop .smallCategory {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #363030;
  padding: 1rem;
  margin-left: 2.5rem;
}

.heroStoreFinder {
  width: 100%;
  height: 21.3rem;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #323334;
}
.heroStoreFinder p {
  color: white;
}

.container_sF {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  gap: 0rem;
  overflow-x: hidden;
}
.container_sF .sFContainerLeft {
  margin: 2rem 3.5rem 2.8rem 8.3rem;
  width: 100%;
}
.container_sF .sFContainerLeft .container_storeFinderTop {
  width: 43.9rem;
  height: 3.29rem;
  width: 43.6rem;
  display: flex;
  flex-direction: row;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar {
  width: 43.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  border-bottom: 1px solid #CDCDCD;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_searchBar_left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_searchBar_left .iconSearchBar {
  width: 2.31rem;
  margin-right: 0.8rem;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_searchBar_left .iconSearchBar img {
  width: 100%;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_searchBar_left form input {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363030;
  border: none;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_SBiconFilter {
  width: 2.2rem;
}
.container_sF .sFContainerLeft .container_storeFinderTop .container_searchBar .container_SBiconFilter img {
  width: 100%;
}
.container_sF .map-responsive {
  padding-bottom: 50.25%;
  position: relative;
  height: 0;
}
.container_sF .map-responsive .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bottomContainer {
  height: auto;
  gap: 3rem;
}
.bottomContainer .locationCard {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: normal;
  gap: 2.4rem;
  padding: 2.4rem 0px;
  border-bottom: 1px solid #E7E7E7;
  margin: 2rem;
}
.bottomContainer .locationCard ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
.bottomContainer .locationCard ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363030;
}
.bottomContainer .locationCard ul li img {
  width: 1.8rem;
  height: 1.8rem;
}
.bottomContainer .container_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: auto;
  display: flex;
}

footer {
  background-color: #323334;
  height: auto;
  color: white;
}
footer .container_footer {
  padding: 4rem 8.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
footer .container_footer .footerLeft {
  width: 27.6rem;
  height: 32.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}
footer .container_footer .footerLeft .footerLeftText {
  width: 27.6rem;
  height: 23.94rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0rem;
}
footer .container_footer .footerLeft .footerLeftText .container_logoFooter {
  width: 11.18rem;
  height: 6.32rem;
}
footer .container_footer .footerLeft .footerLeftText .container_logoFooter img {
  width: 100%;
}
footer .container_footer .footerLeft .footerLeftText p {
  color: white;
}
footer .container_footer .footerLeft .socialsUl {
  list-style: none;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: flex-start;
  gap: 0rem;
}
footer .container_footer .footerLeft li {
  padding-left: 4rem;
}
footer .container_footer .footerLeft li a {
  color: white;
  text-decoration: none;
}
footer .container_footer .footerRight {
  width: 82.3rem;
  max-width: 65rem;
  height: 16.1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .container_footer .footerRight div {
  width: 12rem;
  height: 16.1rem;
}
footer .container_footer .footerRight div h3 {
  padding-bottom: 1.6rem;
}
footer .container_footer .footerRight div ul {
  list-style: none;
  font-size: 1.4rem;
}
footer .container_footer .footerRight div ul li {
  padding-bottom: 1.6rem;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363030;
}
footer .container_footer .footerRight div ul li a {
  color: white;
  text-decoration: none;
}
footer .container_footer .footerRight div ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
footer .container_footer .footerRight .IconFinderFooter {
  display: flex;
  align-items: first baseline;
}
footer .container_footer .footerRight .IconFinderFooter li a img {
  width: 1.9rem;
}

.webRights {
  background-color: #222222;
  width: 100%;
  height: 4.4rem;
  text-align: center;
}
.webRights p {
  font-family: "Open Sans", sans-serif;
  line-height: 2.4rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #363030;
  color: white;
  padding: 1.5rem;
}

@media (max-width: 1024px) {
  .nav-wrapper nav {
    padding: 1rem 3.2rem;
  }
  footer .container_footer {
    padding: 4rem 3.2rem;
  }
  footer .container_footer .footerRight {
    width: auto;
    flex-wrap: wrap;
  }
  .heroHome .containerRight .wrapper_heroText {
    padding: 3.2rem;
  }
  .nowTrending_wrapper {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .nowTrending_wrapper .container_productsCard {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
  }
  .container_sF .sFContainerLeft {
    margin: 2rem 3.2rem 2.8rem 3.2rem;
  }
  .container_sF .aboutUs .container {
    padding: 8rem 3.2rem 6.4rem 3.2rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-size: 3.2rem;
  }
  .nav-wrapper nav {
    padding: 1rem 2.4rem;
  }
  .nav-wrapper nav #menuToggle:checked ~ .menu {
    height: 100%;
    border-top: 1px solid #E7E7E7;
    margin-top: 2rem;
    padding-top: 2rem;
    justify-content: center;
  }
  .nav-wrapper nav .menu-toggle-label {
    display: inline-flex;
    cursor: pointer;
  }
  .nav-wrapper nav .nav_containerLeft {
    overflow: hidden;
    width: 100%;
    height: 0px;
  }
  .nav-wrapper nav .nav_containerLeft .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
  .nav-wrapper nav .nav_containerRight {
    overflow: hidden;
    width: 100%;
    height: 0px;
  }
  .nav-wrapper nav .nav_containerRight ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
  .nav-wrapper nav .nav_containerRight li a button {
    width: 100%;
  }
  footer .container_footer {
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    padding: 4rem 2.4rem;
  }
  footer .container_footer .footerLeft {
    align-items: center;
  }
  footer .container_footer .footerLeft .footerLeftText {
    align-items: center;
  }
  .heroHome .containerRight .wrapper_heroText {
    padding: 2.4rem;
  }
  .ourProducts {
    overflow: hidden;
    justify-content: flex-start;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .ourProducts div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    gap: 0rem;
  }
  .ourProducts div h2 {
    text-align: center;
    padding-bottom: 4.8rem;
  }
  .ourProducts div .container_ourProductsCard {
    width: 61.41rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
  }
  .ourProducts div .container_ourProductsCard .ourProductsCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    gap: 0px;
  }
  .ourProducts div .container_ourProductsCard .ourProductsCard .container_img {
    outline: none;
    border: none;
    width: 13.3rem;
    padding: 0.5rem;
  }
  .ourProducts div .container_ourProductsCard .ourProductsCard .container_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .nowTrending_wrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    overflow: hidden;
  }
  .nowTrending_wrapper .container_productsCard {
    grid-template-columns: repeat(2, 1fr);
  }
  .bookTable {
    padding: 2.4rem;
    gap: 2.4rem;
  }
  .container_sF {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container_sF .sFContainerLeft {
    margin: 2rem 3.2rem 2.8rem 3.2rem;
  }
  .container_sF .sFContainerLeft .container_storeFinderTop {
    padding: 1px 1.6rem;
  }
  .container_sF .bottomContainer .container_btn button {
    width: 100%;
  }
  .container_sF .heroAboutUs .container_hero div {
    width: 10.5rem;
  }
  .container_sF .heroAboutUs .container_hero p {
    font-size: 5rem;
  }
  .container_sF .aboutUs .container .aboutUsInfo {
    padding-inline: 3.6rem;
  }
}
@media (max-width: 375px) {
  .nav-wrapper nav {
    padding: 1rem 1.6rem;
  }
  footer .container_footer .footerRight {
    height: auto;
    flex-direction: column;
    gap: 2.6rem;
    text-align: center;
  }
  footer .container_footer .footerRight div {
    width: 12rem;
    height: auto;
  }
  .heroHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.6px;
    overflow: hidden;
  }
  .heroHome .containerLeft {
    display: none;
  }
  .heroHome .smallBubaCup {
    display: inline;
    padding: 0px 13.1rem;
  }
  .heroHome .smallBubaCup img {
    width: 100%;
  }
  .heroHome .containerRight .wrapper_heroText {
    padding: 0px 1.6rem 1.6rem 1.6rem;
    gap: 0rem;
  }
  .heroHome .containerRight .wrapper_heroText .conteiner_heroText {
    padding: 1.6rem;
  }
  .heroHome .containerRight .wrapper_heroText .container_btn {
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 1.6rem;
  }
  .heroHome .containerRight .wrapper_heroText .container_btn button {
    width: 100%;
  }
  .ourProducts {
    padding-left: 1.6rem;
    padding-right: 0px;
  }
  .ourProducts div h2 {
    width: 100%;
    text-align: center;
  }
  .ourProducts div .container_ourProductsCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .container_ourProductsCard::-webkit-scrollbar {
    display: none;
  }
  .nowTrending_wrapper {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .nowTrending_wrapper .container_productsCard {
    display: flex;
    flex-wrap: wrap;
  }
  .findNearStore {
    padding: 1.6rem;
  }
  .findNearStore .right {
    display: none;
  }
  .findNearStore .right img {
    width: 100%;
  }
  .bookTable {
    padding: 1.6rem;
    gap: 1.6rem;
    flex-direction: column;
  }
  .bookTable .left {
    width: 100%;
  }
  .bookTable .left div {
    justify-content: center;
    gap: 1.6rem;
  }
  .bookTable .left div img {
    width: 80%;
  }
  .bookTable .left div button {
    width: 100%;
  }
  .bookTable .right {
    width: 100%;
    padding: 4rem 5rem;
  }
  .bookTable .right button {
    width: 100%;
  }
  .registerNow {
    justify-content: center;
    padding: 1.6rem;
  }
  .registerNow div {
    padding-left: 0px;
    gap: 2.6rem;
    width: 100%;
  }
  .registerNow div h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-size: 2.4rem;
  }
  .registerNow div button {
    width: 100%;
  }
  .container_sF .sFContainerLeft {
    margin: 2rem 3.2rem 2.8rem 3.2rem;
  }
  .container_sF .heroAboutUs {
    display: none;
  }
  .container_sF .aboutUs .container {
    flex-wrap: wrap;
    padding: 0px;
  }
  .container_sF .aboutUs .container.flipped {
    flex-direction: column-reverse;
  }
  .container_sF .aboutUs .container .container_aboutUsImg {
    width: 100%;
  }
  .container_sF .aboutUs .container .container_aboutUsImg img {
    border-radius: 0px;
  }
  .container_sF .aboutUs .container .aboutUsInfo .container_aboutUsInfo {
    padding: 4.6rem 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
