 /* Reset */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
    font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 62.5%;
}
/*  
Colors

    Fonts
        Titles black: #171717

    Buttons
        Primary btn backround: #363030

    Colors
        Green: #B6C37F
        Beige:
        Beige Light: #FFFAF3
    
    Storke:
        Gray: #E7E7E7

Tipografias

*/

/***************   Fonts   **************/
/* Fonts Titles*/
h1{
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 4.8rem;
}
h2{
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 3.4rem;
}
h3{
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 2.5rem;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;    
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 5,5%;
}

/* Fonts Body */
.body16Regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
.body16Bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}
.body14Regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}
.body14Bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}


/***************   Buttons   ***************/
.primary{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    background-color: #363030;
    border-radius: 70px;
    outline: none;
    border: none;
    padding: 12px 32px;
}
.primaryIconRight{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    background-color: #363030;
    border-radius: 70px;
    outline: none;
    border: none;
    padding: 12px 32px;
}
.primaryIconLeft{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    background-color: #363030;
    border-radius: 70px;
    outline: none;
    border: none;
    padding: 12px 32px;
    /* 
    Ver como hacer para que el icono del boton y el texto se separen
    display: flex;
    justify-content: space-evenly; */
}
.secondary{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #363030;
    background-color: white;
    border-radius: 70px;
    outline: none;
    border: 0.15rem solid #363030;
    padding: 12px 32px;
}
.btnIcon{
    width: 22px;
    border: 0;
    border-radius: 50%;
    background-color: #B6C37F;
    padding: 0.5rem;
}
.container_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36.6rem;
}
/* .btnIcon img{
    size: 100%;
} */


/***************   Header   ***************/
.nav-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid #E7E7E7;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* esto es para que se vayan todos los elementos a las puntas */
    align-items: center;
    padding: 1rem 8.3rem;
    color: #171717;
    font-size: 1.6rem;
}

/* header{
    background-color: white;
    color: #171717;
    font-size: 1.6rem;
    width: 100%;
    height: 7.2rem;    
    padding: 2.4rem 8.3rem;
    margin: 0 auto;
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    align-items: center;
} */
/* nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.514rem 8.3rem;
} */

 /* Logo Nav ****************/
nav .container_logo{
    /* position: absolute; */
    width: 7.7rem;
    height: 4.17rem;
    /* left: 8.3rem; */
}
nav .container_logo .logo{
    width: 100%;
    height: 100%;
}



/* Nav del medio ***************/
nav .nav_containerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.navbar li{
    text-decoration: none;
    list-style: none;
    color: #171717;
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: #171717;
}
/* Iconos derecha ***************/
.nav_containerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_icons {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    align-items: center;
}
.navbar_icons img{
    width: 2.31rem;
}

/* menu hamburguesa ****************/
nav #menuToggle, nav label{
    display: none;
}

.iconMenuHamburguesa{
    height: 2.6rem;
}

/***************   Hero Index   ************** */
.heroHome{
    width: 100%;
    height: 63.4rem;
    background-color: #F3F5F2;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
}
.heroHome .containerLeft{
    width: 52.6rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}
.heroHome .containerLeft img{
    width: 139%;
}
.heroHome .containerRight{
    width:85rem;
    height: 63.4rem;
    background-color: #F3F5F2;
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 7;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heroHome .containerRight .element{
    padding-left: 11.8rem;
    padding-right: 27.2rem;
    padding-top: 16.8rem;
    padding-bottom: 16.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.heroHome .containerRight .element P{
    padding: 3.2rem;
}

.containerRight span{
    font-weight: bold;
}

/* Our Products (Circulos)   ***************/
.ourProducts{
    background-color: #FFFAF3;
    width: 100%;
    height: 43.9rem;
}
.ourProducts .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.3rem 37.59rem;
}
.ourProducts .element h2{
    text-align: center;
    padding-bottom: 4.8rem;
}
.container_ourProductsCard{
    width: 61.41rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ourProductsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourProductsCard .container_img{
    outline: none;
    border: none;
    padding: 12px 32px;
    width: 13.3rem;
    border: 0;
    padding: 0.5rem;
}
.ourProductsCard img{
    width: 100%;
    border-radius: 100%;
}

/* Now Trending   ***************/
.nowTrending_wrapper {
    background-color: beige;
    width: 100%;
    padding-top: 7.7rem;
    padding-bottom: 8.4rem;
    padding-left: 8.3rem;
    padding-right: 8.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nowTrendingHeaders {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Product Card   ***************/
.container_productsCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-top: 4.8rem;
    padding-bottom: 6.4rem;
    gap: 2.4rem;
}
.productsCard{
    width: 28.2rem;
    height: 46.2rem;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 5px 5px 5px rgb(215, 9, 9); */
    filter: drop-shadow(1.80966px 4.52416px 10.858px rgba(0, 0, 0, 0.15));
}
.cardImg{
    width: 28.2rem;
    height: 27.3rem;
}
.cardImg img{
    width: 100%;
}
.cardInfo{
    width: 28.2rem;
    height: 20.5rem;
    /* background-color: white; */
    padding-top: 2.2rem;
    padding-bottom: 1.59rem;
    padding-right: 2.164rem;
    padding-left: 2.164rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.CardInfoElements{
    width: 28.2rem;
    height: 12.81rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 1.4rem;
    
}
.cardInfo .cardText{
    height: 7rem;
    gap: 12px;
}
.cardInfo .cardText h4{
    text-align: center;
    padding-bottom: 1.2rem;
}
.cardInfo .cardText .cardDescription{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    width: 18.2rem;
    padding-bottom: 1.59rem;
    text-align: center;
    color: #5B5A56;
}
.cardInfo .wrapper{
    border-radius: 34.82px;
    background-color: #EFEFEF;
    width: 12.9rem;
    height: 4.41rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.number{
    font-size: 1.857rem;
}
.minus{
    font-size: 2rem;
}
.plus{
    font-size: 2rem;
}
.cardFooter{
    width: 23.8rem;
    display: flex;
    justify-content: space-between;
}
.cardFooter .price{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}


/***************   Find your nearest Buba Store   ***************/
.findNearStore{
    background-image: url(../assets/img/store1.png);
    width: 100%;
    height: 56.8rem;
    background-position-y: 63%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.findNearStore .left{
    width: 40.2rem;
    height: 39rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 8.7rem 6.15rem;
}
.findNearStore .right{
    width: 29.6rem;
    height: 29.6rem;
}
.findNearStore .right img{
    width: 100%;
}

/* Book a table ***************/
.bookTable{
    width: 100%;
    height: 64.9rem;
    background-color: #FFFAF3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bookTable div{
    width: 57rem;
    height: 39.3rem;
    border-radius: 12px;
}
.bookTable .left{
    background-color: #F9F3DB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookTable .left div{
    width: 23.5rem;
    height: 27.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.bookTable .right{
    background-image: url(../assets/img/menu.png);
    width: 57rem;
    height: 39.3rem;
    border-radius: 12px;
    background-size: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    padding-bottom: 4.71rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/***************   Register Now ***************/
.registerNow{
    width: 100%;
    height: 36.6rem;
    background-image: url(../assets/img/registerNow.png);
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.registerNow div{
    width: 43.7rem;
    height: 15.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 22.2rem;
}
.registerNow h2{
    width: 43.7rem;
}

/***************   FOOTER   ***************/
footer{
    background-color: #323334;
    height: 44.21rem;
    color: white;
}
footer .container_footer{
    padding: 4rem 8.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer ul{
    list-style: none;
    font-size: 1.4rem;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
.footerLeft{
    width: 27.6rem;
    height: 32.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footerLeft .footerLeftText{
    width: 27.6rem;
    height: 23.94rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.container_logoFooter{
    width: 11.18rem;
    height: 6.32rem;
}
.container_logoFooter .logoFooter{
    width: 100%;
}
.container_footer .socialsUl{
    width: 18.9rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* Footer Right ***************/
.footerRight{
    width: 82.3rem;
    height: 16.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footerRight div{
    width:12rem;
    height: 16.1rem;
}
.footerRight h3{
    padding-bottom: 1.6rem;
}
.footerRight li{
    padding-bottom: 1.6rem;
}
.IconFinderFooter{
    display: flex;
    align-items: first baseline;
}
.IconFinderFooter img{
    width: 1.9rem;
}
.webRights{
    background-color: #222222;
    width: 100%;
    height: 4.4rem;
    text-align: center;
}
.webRights p{
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
/* 

About Us Page.....................................................................


 */
.heroAboutUs{
    width: 100%;
    height: 21.3rem;
    color: white;
    background-image: url(../assets/img/aboutUsBackround.png);
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroAboutUs .container_hero{
    width: 50.9rem;
    height: 9.16rem;
    display: flex;
    justify-content: space-evenly;
}
.heroAboutUs p{
    font-size: 6.84rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
}
.heroAboutUs .container_logo{
    width: 18.6rem;
}
.container_logo .logoFooter{
    width: 100%;
}
/***************   SECTIONS ABOUT US    ***************/
.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    /* justify-content: flex-start; */
}
.aboutUs .container{
    width: 100%;
    height: 61.3rem;
    padding-top: 8rem;
    padding-bottom: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F3DB;
}

.flipped{
    flex-direction: row-reverse;
} 
.container_aboutUsImg{
    width: 63.1rem;
    padding-left: 8.2rem;
    background-color: #F9F3DB;
}
.container_aboutUsImg img{
    width: 54.9rem;
    height: 46.8rem;
    border-radius: 13.5px;
}
.aboutUsInfo{
    width: 73.5rem;
    height: 46.9rem;
    border-radius: 13.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9F3DB;
    gap: 22.3px;
}
.container_aboutUsInfo{
    height: 27rem;
    width: 48.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
/* 

Shop Page........................................................................


 */
.container_shop{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start;
    align-items: center; */
}
.containerLeft_shop{
    width: 28.5rem;
    height: 162.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 10px 8px 83px;
    gap: 10px;
}
.containerLeft_shop ul li{
    text-decoration: none;
    list-style: none;
}
.container_shop a{
    text-decoration: none;
    color: #171717;
}
.container_shop .bigCategory{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 2rem;
}
/* por alguna razon esta categoria no esta funcionando porque no se pone roja */
.container_shop .smallCategory{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 2rem;
    color: red;
}
/* Shop Container Right   ***************/
.containerRight_shop{
    width: 100%;
    height: 100%;
    background-color: #FFFAF3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 8.8rem;
}
.containerRight_shop .topRow{
    width: 89.4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.container_shopCategory{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
}
.container_productsCards{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
}
.container_productsCards h3{
    padding-bottom: 4rem;
}
/* 

Store Finder Page  .............................................................


 */
.heroStoreFinder{
    width: 100%;
    height: 21.3rem;
    color: white;
    background-color: #323334;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container_sF{
    width: 136.3rem;
    height: 72.8rem;
    display: flex;
    flex-direction: row;
}
.sFContainerLeft{
    /* width: 61.2rem; */
    width: 100%;
    height: 72.8rem;
    margin: 2rem 3.5rem 2.8rem 8.3rem;
}
/* Search Bar   ***************/
.container_storeFinderTop{
    width: 43.9rem;
    height: 3.29rem;
    width: 43.6rem;
    display: flex;
    flex-direction: row;
}
.container_searchBar{
    width: 43.6rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CDCDCD;
}
.container_searchBar input{
    border: none;
}
.container_searchBar .iconSearchBar{
    width: 2.31rem;
}
.container_searchBar .iconSearchBar img{
    width: 100%;
}
/* Location cards   ***************/
.locationCard{
    padding: 2.4rem;
}
.container_locationCardTitles{
    padding: 0.8rem;
}
.container_SBiconFilter{
    width: 2.2rem;
}
.container_SBiconFilter img{
    width: 100%;
}
.container_SFOptions{
    width: 21.8rem;
}
.container_SFOptions ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
/* .container_SFOptions ul li{
    list-style: none;
} */
.container_SFOptions ul li img{
    width: 2.1rem;
}
/***************   LogIn Page   ***************/
/* .container_login{
    width: 136.6rem;
    height: 89.6rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute; 
} */

/* Formulario viejo, Sin Bootstrap ***************/
/* Imagen  ***************/
/* .container_loginLeft{
    width: 59.7rem;
    height: 89.6rem;
    left: 0rem;
    top: 73rem;     
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px; 
    position: absolute;
 } */
.container_loginLeft img{
    width: 100%;
}
/* .container_loginRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: pink; 
} */
.formInputLogin{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 1.6rem;
    color: #9C9C9C;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 0px;
    /* width: 100%; */
}
.formInputLoginText{  
    font-size: 1.6rem;  
}
.container_loginForm{
    width: 49.5rem;
    /* height: 70.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* height: 71.1rem; */
}
.container_loginForm_data div .row{
    margin-bottom: 3.4rem;
}
.form-check-input{
    height: 1.8rem;
    width: 1.8rem;
}
.form-check-label span{
    color: #DA7E1E;
    font-weight: bold;
    text-decoration: underline;
}

/*.loginForm{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
fieldset{
    border: none;
}
.container_formGroup{
    width: 100%;
    height: 16.1rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}
.container_loginRight form input{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #9C9C9C;
    border-bottom: 1px solid #CDCDCD;
    width: 100%;
}
.container_loginRight legend{
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.container_loginRight label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 3.4rem;
}
.formGroup{
    display: flex;
    height: 3.1rem;
}
.container_loginRight li{
    text-decoration: none;
    list-style: none;
    color: #171717;
    display: inline-block;
    padding: 0px 2.4rem;
}
.primary .loginFormBtn{
    width: 39.1rem;
}
.container_signUpSocials{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}*/
.container_signUpSocials{
    height: 16.9rem;
} 
.container_signUpSocials p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #9C9C9C;
} 
.container_signUpSocials ul li a{
    margin: 0.8rem;
}

.container_signUpSocials li{
    list-style: none;
} 



@media (max-width:1324px){
    /* Nav *****************/
    nav{
        padding: 1rem 1.5rem;
    }
}

@media (max-width:950px){
    
    /* Nav *****************/
    .menuHiddenMediaQ{
        display: none;
    }
}
@media(max-width:1024px){

     /* Nav *****************/
    /****************** Home *****************/




    /* Now trending *****************/
    .container_productsCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        flex-wrap: nowrap;
        gap: 2.4rem;
        padding-top: 4.8rem;
        padding-bottom: 6.4rem;
    }
    .cardHidden{
        display: none;
    }
}


@media(max-width:768px){
    
    /* Nav *****************/
    nav .menu{
        width: 100%;
        height: 0;
        /* para que se vaya ocultando la info */
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    /* menu hamburguesa */
    nav label{
        display: inline-flex;
        cursor: pointer;
    }
    nav #menuToggle:checked ~ .menu{
        height: 100%;
    }

/****************** Home *****************/

/* Now trending *****************/
    .nowTrending_wrapper {
    display: block;
    padding: 7.7rem 3.5rem;
    overflow-x: auto;
}
    .nowTrending_wrapper ::-webkit-scrollbar{
    width: 0;
}
    .cardHidden{
        display:block
    }

    .nowTrending_wrapper button{
        display: none;
    }

    /* Footer *****************/
}
