// colores
$color-blackTitles:#171717;
$color-blackBody: #5B5A56;
$color-blackBuba: #363030;
$color-green:#B6C37F;
$color-beige: beige;
$color-beigeLight:#FFFAF3;
$color-borderLine:#E7E7E7;
$color-footer:#323334;

// btn
$btn-border-radius: 7rem;
$btn-padding: 1.2rem 3.2rem;

