.heroAboutUs {
	width: 100%;
	height: 21.3rem;
	color: white;
	background-image: url(../assets/img/aboutUsBackround.png);
	background-position-y: 0%;
	background-repeat: no-repeat;
	background-size: cover;
    @include flex(row,nowrap,center,center,0rem);
	.container_hero {
		width: auto;
        @include flex(row,nowrap,space-between,center,0rem);
        div {
            width: 18.6rem;
            img{
                width: 100%;
            }
        }
        p {
            font-size: 6.84rem;
            font-weight: bold;
            padding: 3rem;
        }
        
	}
}

.aboutUs {
    @include flex(column,nowrap,flex-start,center,0rem);
	background-color: $color-beige-amarillo;
	.container{
		width: 100%;
		height: 100%;
		padding-top: 8rem;
		padding-bottom: 6.4rem;
        @include flex(row,wrap,center,center,0rem);

        .container_aboutUsImg {
            img {
                height: 46.8rem;
                border-radius: 13.5px;
            }
        }
        .aboutUsInfo {
            border-radius: 13.6px;
            @include flex(column,nowrap,center,center,0rem);
            padding-inline: 10rem;

            .container_aboutUsInfo {
                height: 27rem;
                width: 48.2rem;
                @include flex(column,nowrap,space-evenly,center,0rem);
            }
        }
	}
}
.flipped {
    flex-direction: row-reverse;
	background-color: white;
}


