.heroAboutUs {
	width: 100%;
	height: 21.3rem;
	color: white;
	background-image: url(../assets/img/aboutUsBackround.png);
    @include backound-img ($background-position-y: 0%, $background-repeat: no-repeat, $background-size: cover);
    @include flex(row,nowrap,center,center,0rem);
	.container_hero {
		width: auto;
        @include flex(row,nowrap,space-between,center,0rem);
        div {
            width: 18.6rem;
            img{
                width: 100%;
            }
        }
        p {
            font-size: 6.84rem;
            font-weight: bold;
            padding: 3rem;
        }
        
	}
}

.aboutUs {
    @include flex(column,nowrap,flex-start,center,0rem);
	background-color: $color-beige-amarillo;
	.container{
		width: 100%;
		height: 100%;
        @include flex(row,nowrap,center,center,0rem);
        padding: 8rem 15rem 8rem 15rem;
        max-width: 1440px;

        .container_aboutUsImg {
            filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
            border-radius: 13.3631px;
            overflow: hidden;
            img {
                width: 100%;
                // border-radius: 13.5px;
                max-width: 549px;
            }
        }
        .aboutUsInfo {
            border-radius: 13.6px;
            @include flex(column,nowrap,center,center,0px);
            padding-inline: 10rem;

            .container_aboutUsInfo {
                // height: 27rem;
                // width: 48.2rem;
                @include flex(column,nowrap,space-evenly,center,2rem);
            }
        }
	}
}
.flipped {
	background-color: white;
}


