$color_1: white;
$background-color_1: #323334;

/* Search Bar   ***************/
/* Location cards   ***************/
/* .container_SFOptions ul li{
    list-style: none;
} */
.heroStoreFinder {
	width: 100%;
	height: 21.3rem;
	color: white;
	@include flex(column,nowrap,center,center,0rem);
    @include backound-img ($background-position-y: 0%, $background-repeat: no-repeat, $background-size: cover);
    background-color:$color-footer;
    
    p{
        color: white;
    }
}
.container_sF {
    @include flex(row,nowrap,space-between,center,0rem);

    .sFContainerLeft {
        margin: 2rem 3.5rem 2.8rem 8.3rem;

        .container_storeFinderTop {
            width: 43.9rem;
            height: 3.29rem;
            width: 43.6rem;
            display: flex;
            flex-direction: row;

            .container_searchBar {
                width: 43.6rem;
                @include flex(row,nowrap,space-between,center,0rem);
                border-bottom: 1px solid #CDCDCD;

                .container_searchBar_left{
                    @include flex(row,nowrap,flex-start,center,0rem);
                    .iconSearchBar{
                        width: 2.31rem;
                        margin-right: 0.8rem;
                        img {
                            width: 100%;
                        }
                    }
                    form{
                        input{
                            @include font-stack-body(400, 1.4rem);
                            border: none;
                        }
                    }
                }
            .container_SBiconFilter {
                width: 2.2rem;
                img {
                    width: 100%;
                    }
                }
            }
        }
    }
    // .sFcontainerRight{
    //     // width: 50vh;
    //     // iframe{
    //     //     width: 100%;
    //     // }
    //     .sFContainerRight {
    //         position: relative;
    //         width: 50vh;
    //         padding-bottom: 56.25%; /* 16:9 aspect ratio */
    //     }
    
    //     .sFContainerRight iframe {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;

        .map-responsive iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        
        }
    
    }
    

}

.bottomContainer{

    .locationCard{
        height: 30rem;
        @include flex(column,nowrap,space-evenly,normal,2.4rem);
        padding: 2.4rem 0px;
        border-bottom: 1px solid $color-borderLine;
        margin: 2rem;
            
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;

            li {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0.4rem;
                @include font-stack-body(400, 1.4rem);
                img {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }

        .container_btn{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                gap: 1.6rem;
                width:auto;
                display: flex;
        }
        
}


// .locationCard {
// 	padding: 2.4rem;
// }
// .container_locationCardTitles {
// 	padding: 0.8rem;
// }

// 
// }
