// Hero

.heroHome{
    width: 100%;
    height: 63.4rem;
    background-color: #F3F5F2;
    display: flex;

    .containerLeft{
        @include flex(row,nowrap,normal,center,0px);
        width: 40%;

        img{
            width: 100%;
        }
    }
    .containerRight {
        @include flex(row,nowrap,center,center,0px);
        width: 60%;
    }
}
// FALTA TERMINAR HERO

// Our products (circulos)
.ourProducts {
    background-color: $color-beigeLight;
    @include flex(row,nowrap,center,center,0px);
    width: 100%;
    height: 43.9rem;

    div{
        @include flex(column,nowrap,normal,center,0rem);

        h2{
            text-align: center;
            padding-bottom: 4.8rem;
        }

        .container_ourProductsCard{
            width: 61.41rem;
            @include flex(row,nowrap,space-evenly,center,0px);
            
            .ourProductsCard{
                @include flex(column,nowrap,normal,center,0px);

                .container_img{
                    outline: none;
                    border: none;
                    width: 13.3rem;
                    padding: 0.5rem;

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

// now trending
.nowTrending_wrapper {
    background-color: $color-beige;
    width: 100%;
    padding-top: 7.7rem;
    padding-bottom: 8.4rem;
    padding-left: 8.3rem;
    padding-right: 8.3rem;
    @include flex(column,nowrap,center,center,0px);

    .nowTrendingHeaders{
        width: auto;
        @include flex(column,nowrap,center,center,0px);
    }
    // cards
    .container_productsCard {
        @include flex(row,wrap,center,center,2.4rem);
        width: auto;
        padding-top: 4.8rem;
        padding-bottom: 6.4rem;
    }
}

.productsCard{
    width: 28.2rem;
    height: 47.5rem;
    border-radius: 1rem;
    background-color: white;
    filter: drop-shadow(1.80966px 4.52416px 10.858px rgba(0, 0, 0, 0.15));

    .cardImg{
        width: 28.2rem;
        height: 27.3rem;
        position: relative;
        z-index: -1;

        img{
            width: 100%;
        }
    }

    .cardInfo{
        height: 20.5rem;
        padding-top: 2.2rem;
        padding-bottom: 1.59rem;
        padding-right: 2.164rem;
        padding-left: 2.164rem;
        @include flex(column,wrap,space-between,center,0rem);

        .CardInfoElements{
            // width: 28.2rem;
            // height: 12.81rem;
            @include flex(column,wrap,normal,center,1.4rem);
            // padding: 0px;
            
            .cardText{
                height: 7rem;
                gap: 12px;

                h4{
                    @include font-stack-body(600, 2rem);
                    text-align: center;
                    padding-bottom: 1.2rem;
                    color: $color-blackTitles;
                }

                .cardDescription{
                    @include font-stack-body(400, 1.2rem);
                    width: 18.2rem;
                    padding-bottom: 1.59rem;
                    line-height: 160.18%;
                    text-align: center;
                    color: $color-blackBody;
                }
            }
        }
    }
}

.wrapper{
    border-radius: 34.82px;
    background-color: #EFEFEF;
    width: 12.9rem;
    height: 4.41rem;
    @include flex(row,wrap,space-evenly,center,0rem);

    span{
        @include font-stack-body(400, 2rem);
    }

    .minus, .plus{
        font-size: 3rem;
    }
}

.cardFooter{
    width: 23.8rem;
    @include flex(row,wrap,space-between,center,0rem);

    .price{
        @include font-stack-body(600, 2.2rem);
    }
}

// Find your nearest Buba Store

.findNearStore{
    background-image: url(../assets/img/store1.png);
    width: 100%;
    height: 56.8rem;
    background-position-y: 63%;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row,nowrap,space-evenly,center,0rem);

    .left{
        width: 40.2rem;
        height: 39rem;
        border-radius: 10px;
        background-color: white;
        @include flex(column,nowrap,space-evenly,center,0px);
        padding: 8.7rem 6.15rem;
    }

    .right{
        width: 29.6rem;
        height: 29.6rem;

        img{
            width: 100%;
        }
    }

}