@media (max-width: 1024px) {

// nav

.nav-wrapper{
  nav{
  padding: 1rem 3.2rem;
  }
}

// footer
footer{
  .container_footer{
      padding: 4rem 3.2rem;

      .footerRight{
        width: auto;
        flex-wrap: wrap;
      }
  }
}

// INDEX

// Hero
.heroHome{
  .containerRight {
    .wrapper_heroText{
      padding: 3.2rem;
    
      }
  }
}




// Now trending

.nowTrending_wrapper{
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  .container_productsCard {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
    }
  }


// Store Finder

.container_sF {

    .sFContainerLeft {
      margin: 2rem 3.2rem 2.8rem 3.2rem;
    }
}

// About us 

.aboutUs {
	
  .container{
    padding: 8rem 3.2rem 8rem 3.2rem;

    .aboutUsInfo{
      padding-inline: 5rem;
    }
  }
}

// Shop Page

.container_shop {
    grid-gap: 2.4rem;


    .containerLeft_shop {
      }
    .containerRight_shop {
        .container_shopCategory {
            .container_productsCards {
                .topRow {
                  width: 100%;
                  justify-content: flex-start;
                  padding-left: 2.4rem;

                  .productsCard{
                    min-width: 24.6rem;
                    max-width: 25.2rem
                  }
                }
            }
        }
        
    }
  }



}


