@media (max-width: 1024px) {

// nav

.nav-wrapper{
  nav{
  padding: 1rem 3.2rem;
  }
}

// footer
footer{
  .container_footer{
      padding: 4rem 3.2rem;

      .footerLeft{
          // align-items: center;
          .footerLeftText {
              // align-items: center;
          }
      }

      .footerRight{
        width: auto;
        flex-wrap: wrap;
      }
  }
}

// INDEX

// Hero
.heroHome{
  .containerRight {
    .wrapper_heroText{
      padding: 3.2rem;
    
      }
  }
}




// Now trending

.nowTrending_wrapper{
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  .container_productsCard {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
    }
  }


// Store Finder

.container_sF {

    .sFContainerLeft {
      margin: 2rem 3.2rem 2.8rem 3.2rem;

    

}

.bottomContainer{

    .locationCard{
            
        ul {

            li {
                img {

                }
            }
        }
    }

        .container_btn{
        }
        
}
}

// About us 

.aboutUs {
	
  .container{
    padding: 8rem 3.2rem 8rem 3.2rem;
        .container_aboutUsImg {
        }
        .aboutUsInfo {
          // padding-inline: 3.6rem;

            .container_aboutUsInfo {
              
            }
        }
	}
}

}