@media(max-width:768px){

    h1{
        @include font-stack-titles(3.2rem)
    }

    // Nav
.nav-wrapper{
    nav{
    padding: 1rem 2.4rem;


    // menu hambruguesa
        #menuToggle:checked ~ .menu{
            height: 100%;
            border-top: 1px solid #E7E7E7;
            margin-top: 2rem;
            padding-top: 2rem;
            justify-content: center;
            }
        .menu-toggle-label{
            display: inline-flex;
            cursor: pointer;
            }
        // menu del medio
        .nav_containerLeft {
            overflow: hidden;
            width: 100%;
            height: 0px;
    
            .navbar{
                @include flex(column,nowrap,space-between,center,2.4rem);
                }
        }
        .nav_containerRight{
            overflow: hidden;
            width: 100%;
            height: 0px;
            
            ul{
                @include flex(column,nowrap,space-between,center,2.4rem);
                }
                li{
                    a{
                        button{
                            width: 100%;
                            }
                        }
                    }
                }
            }
        }

// footer
footer{
    .container_footer{
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
        padding: 4rem 2.4rem;

        .footerLeft{
            align-items: center;
            .footerLeftText {
                align-items: center;
            }
        }
    }
}

// INDEX

// Hero
.heroHome{
    .containerRight {
        .wrapper_heroText{
        padding: 2.4rem;
    
        }
    }
}

// Our products (circulos)
.ourProducts {
    overflow: hidden;
    justify-content: flex-start;
    padding-left: 2.4rem;
    padding-right: 2.4rem;

    div{
        @include flex(column,nowrap,normal,center,0rem);

        h2{
            text-align: center;
            padding-bottom: 4.8rem;
        }

        .container_ourProductsCard{
            width: 61.41rem;
            @include flex(row,nowrap,space-evenly,center,0px);
            
            .ourProductsCard{
                @include flex(column,nowrap,normal,center,0px);

                .container_img{
                    outline: none;
                    border: none;
                    width: 13.3rem;
                    padding: 0.5rem;

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}





// Now trending

.nowTrending_wrapper{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    overflow: hidden;

    .container_productsCard {
    grid-template-columns: repeat(2, 1fr);
    }

    }

// Book a table

.bookTable {
    padding: 2.4rem;
    gap: 2.4rem;
}


// Store Finder

.heroStoreFinder {
    p{
    }
}
.container_sF {
    flex-wrap: wrap;
    justify-content: center;
    .sFContainerLeft {
        margin: 2rem 3.2rem 2.8rem 3.2rem;

        .container_storeFinderTop {
            padding: 1px 1.6rem;

            .container_searchBar {
                

                .container_searchBar_left{
                    .iconSearchBar{
                        img {
                        }
                    }
                    form{
                        input{
                    }
                }
            .container_SBiconFilter {
                img {
                    }
                }
            }
        }
    }
    .map-responsive{

        .map-responsive iframe{
        
        }
    
    }
    

}

.bottomContainer{

    .locationCard{
            
        ul {

            li {
                img {

                }
            }
        }
    }

        .container_btn{
            button{
                width: 100%;
            }
        }
        
}
}


// About us 

.heroAboutUs {
	.container_hero {
        div {
            width: 10.5rem;
        }
        p {
            font-size: 5rem;
        }
        
	}
}

.aboutUs {
	.container{
        .container_aboutUsImg {
            img {
            }
        }
        .aboutUsInfo {
        padding-inline: 3.6rem;

            .container_aboutUsInfo {
            
            }
        }
	}
}

// Login
.container_loginRight{

}




}