@media(max-width:375px){

// nav
.nav-wrapper{
    nav{
    padding: 1rem 1.6rem;
    }
}

// Footer
footer{
    .container_footer{
        .footerRight {
            height: auto;
            flex-direction: column;
        gap: 2.6rem;
        text-align: center;
            
            div {
                    width: 12rem;
                    height: auto;
                }
        }
    }
}



// INDEX

// Hero
.heroHome{
    @include flex(column,nowrap,center,center,1.6px);
    overflow: hidden;
    
    .containerLeft{
        display: none;
    }
    .smallBubaCup{
        display: inline;
        padding: 0px 13.1rem;

        img{
            width: 100%;
        }
    }
    .containerRight {
        .wrapper_heroText{
            padding: 0px 1.6rem 1.6rem 1.6rem;
            gap: 0rem;


            .conteiner_heroText{
                padding: 1.6rem;
            }

            .container_btn{
                flex-wrap: wrap;
                gap: 1.6rem;
                padding: 1.6rem;

                button{
                    width: 100%;
                }
            }
        }
    }
}

// Our products (circulos)

.ourProducts {
    padding-left: 1.6rem;
    padding-right: 0px;

    div{

        h2{
            width: 100%;
            text-align: center;
        }

        .container_ourProductsCard{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 375px;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}
.container_ourProductsCard::-webkit-scrollbar {
    display: none;
}

// Now trending

.nowTrending_wrapper{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    .container_productsCard {
    display: flex;
    flex-wrap: wrap;
    }
    }

// Find your nearest Buba Store

.findNearStore{
    padding: 1.6rem;
    .right{
        display: none;

        img{
            width: 100%;
        }
    }
}

// Book a table

.bookTable {
    padding: 1.6rem;
    gap:1.6rem;
    flex-direction: column;

    .left{
        width: 100%;

        div{
            justify-content: center;
            gap: 1.6rem;

            img{
                width: 80%;
            }
            button{
                width: 100%;
            }
        }
    }
    .right {
        width: 100%;
        padding: 4rem 5rem;

        button{
            width: 100%;
        }
    }
    
}

// Register now

.registerNow {
    justify-content: center;
    padding: 1.6rem;
    
    div{
        padding-left: 0px;
        gap: 2.6rem;
        width: 100%;

        h2{
            @include font-stack-titles(2.4rem)
        }

        button{
            width: 100%;
        }
    }
}


// Store Finder

.heroStoreFinder {
    p{
    }
}
.container_sF {

    .sFContainerLeft {
      margin: 2rem 3.2rem 2.8rem 3.2rem;

        .container_storeFinderTop {

            .container_searchBar {

                .container_searchBar_left{
                    .iconSearchBar{
                        img {
                        }
                    }
                    form{
                        input{
                    }
                }
            .container_SBiconFilter {
                img {
                    }
                }
            }
        }
    }
    .map-responsive{

        .map-responsive iframe{
        
        }
    
    }
    

}

.bottomContainer{

    .locationCard{
            
        ul {

            li {
                img {

                }
            }
        }
    }

        .container_btn{
        }
        
}


// About us 

.heroAboutUs {
    display: none;
	.container_hero {
        
        div {
        }
        p {
        }
        
	}
}

.aboutUs {
	.container{
        flex-wrap: wrap;
        padding: 0px;
        &.flipped{
            flex-direction: column-reverse;
        }
        
        .container_aboutUsImg {
            width: 100%;
            

            img {
                border-radius: 0px;
            }
        }
        .aboutUsInfo {

            .container_aboutUsInfo {
                padding: 4.6rem 1.6rem;
            }
        }
	}

}
}

}
